$bubb-background: #444;
$bubb-color: #fff;
$bubb-tip-size: .65em;
$bubb-offset-left: 50%;
$bubb-transition-px-distance: 1em;
$bubb-transition-expression: cubic-bezier(0,0,.25,1); //cubic-bezier(.25,.8,.25,1);
$bubb-border-radius: 4px;

@mixin bubbStyle() {
  padding: .75em 1em;
  line-height: 1.1;
  font-size: 75%;
  text-align: center;
  border-radius: $bubb-border-radius;
  background-color: $bubb-background;
  border-bottom-color: $bubb-background;
  color: $bubb-color;
  cursor: default;
  min-width: 150px;
  width: 100%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include boxShadow();
}
@mixin bubbTip($width) {
  width: 0;
  height: 0;
  border-right: $width solid transparent;
  border-left: $width solid transparent;
  // to make tip-color changes through js possible by altering border-bottom-color on parent
  border-bottom-width: $width;
  border-bottom-style: solid;
  border-bottom-color: inherit;
}
@mixin boxShadow() {
  box-shadow: rgba(#fad, .35) 6px 7px 0 0;
  //box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
@mixin bubbTipPseudo($width) {
  width: 0;
  height: 0;
  border-bottom: $width solid $bubb-background;
  border-right: $width solid transparent;
  border-left: $width solid transparent;
}
@mixin bubbTransition() {
  transition: opacity .3s $bubb-transition-expression, bottom .3s $bubb-transition-expression;
  //transition-delay: .3s;
}
@mixin bubbTransitionPseudo() {
  transition: opacity .3s $bubb-transition-expression;
}

/*
--- Bubb as html element
*/
.bubb {
  position: relative;
  aside {
    position: absolute;
    z-index: 1;
    display: block;
    visibility: hidden;
    transform: translate(-50%, 100%);
    bottom: calc( -#{$bubb-tip-size} - #{$bubb-transition-px-distance} );
    left: $bubb-offset-left;
    pointer-events: none;
    opacity: 0;
    @include bubbStyle();
    &:after {
      content: '';
      position: absolute;
      transform: translate(-50%, 0);
      top: calc( 1px - #{$bubb-tip-size} );
      left: $bubb-offset-left;
      @include bubbTip($bubb-tip-size);
    }
    &:hover {
      display: none;
    }
    &:empty {
      display: none;
    }
  }
  &:hover {
    aside {
      @include bubbTransition();
      visibility: visible;
      bottom: -$bubb-tip-size;
      pointer-events: all;
      opacity: 1;
    }
  }

  /*
  --- Make bubb hoverable
  */
  &-interact {
    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: $bubb-tip-size;
      bottom: -$bubb-tip-size;
    }
    aside {
      &:hover {
        display: block;
      }
      > div {
        cursor: pointer;
      }
    }
  }

  /*
  --- Remove transition
  */
  &-still {
    &:hover {
      aside {
        transition-duration: 0s;
      }
    }
  }

}



/*
--- Bubb as pseudo element, attribute only
*/
[bubb] {
  position: relative;
  &:before, &:after {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    z-index: 1;
    //@include bubbTransitionPseudo();
  }
  &:after {
    content: attr(bubb);
    transform: translate(-50%, 100%);
    left: $bubb-offset-left;
    bottom: -$bubb-tip-size;
    @include bubbStyle();
  }
  &:before {
    content: '';
    transform: translate(-50%, 100%);
    left: $bubb-offset-left;
    bottom: -1px;
    @include bubbTipPseudo($bubb-tip-size);
  }
  &:hover {
    &:before, &:after {
      opacity: 1;
    }
  }
}
/*
--- With position transition - :before & :after slightly unsynced
[bubb] {
  position: relative;
  &:before, &:after {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    z-index: 1;
  }
  &:after {
    content: attr(bubb);
    transform: translate(-50%, 100%);
    bottom: calc( -#{$bubb-tip-size} - #{$bubb-transition-px-distance} );
    left: $bubb-offset-left;
    @include bubbStyle();
  }
  &:before {
    content: '';
    transform: translate(-50%, 115%);
    bottom: - $bubb-transition-px-distance;
    left: $bubb-offset-left;
    @include bubbTipPseudo($bubb-tip-size/1.5);
  }
  &:hover {
    &:before, &:after {
      @include bubbTransition();
      opacity: 1;
    }
    &:after {
      bottom: calc( 2px - #{$bubb-tip-size} );
    }
    &:before {
      bottom: 0;
    }
  }
}
*/
