/*
--- Bubb as html element
*/
.bubb {
  position: relative;
  word-wrap: break-word;
  hyphens: auto;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  /*
  --- Make bubb hoverable
  */
  /*
  --- Remove transition
  */
  /*
  --- Delayed reveal
  */
  /*
  --- Default menu style
  */ }
  .bubb aside {
    position: absolute;
    z-index: 1;
    display: block;
    visibility: hidden;
    transform: translate(-50%, 100%);
    bottom: calc( -0.65em - ( 0.65em + 0.15em ));
    left: 50%;
    pointer-events: none;
    opacity: 0;
    padding: .75em 1em .85em;
    line-height: 1.1;
    font-size: 17px;
    text-align: center;
    border-radius: 4px;
    background-color: #444;
    border-bottom-color: #444;
    color: #fff;
    cursor: default;
    min-width: 150px;
    width: 100%;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-shadow: rgba(255, 170, 221, 0.35) 6px 7px 0 0; }
    .bubb aside:after {
      content: '';
      position: absolute;
      transform: translate(-50%, 0);
      top: calc( 1px - 0.65em);
      left: 50%;
      width: 0;
      height: 0;
      border-right: 0.65em solid transparent;
      border-left: 0.65em solid transparent;
      border-bottom-width: 0.65em;
      border-bottom-style: solid;
      border-bottom-color: inherit; }
    .bubb aside:hover {
      display: none; }
    .bubb aside:empty {
      display: none; }
  .bubb:hover aside {
    transition: opacity 0.3s cubic-bezier(0, 0, 0.25, 1), bottom 0.3s cubic-bezier(0, 0, 0.25, 1);
    transition-delay: 0s;
    visibility: visible;
    bottom: calc( -0.65em - 0.15em);
    pointer-events: all;
    opacity: 1; }
  .bubb-interactive:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    min-width: 150px;
    height: calc( 0.65em + 0.15em);
    bottom: calc( -0.65em - 0.15em);
    left: 0; }
  .bubb-interactive aside:hover {
    display: block; }
  .bubb-interactive aside > div {
    cursor: pointer; }
  .bubb-still:hover aside {
    transition-duration: 0s; }
  .bubb-delayed:hover aside {
    transition-delay: 0.5s; }
  .bubb-menu aside {
    padding: 0 !important; }
    .bubb-menu aside div {
      padding: .75em 0;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 72.5%;
      font-weight: bold;
      color: #ddd;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      transition: background 0.3s cubic-bezier(0, 0, 0, 0.75); }
      .bubb-menu aside div:first-child {
        padding-top: 1em; }
      .bubb-menu aside div:hover {
        background: rgba(255, 255, 255, 0.1);
        color: #fff;
        border-color: transparent; }

/*
--- Bubb as pseudo element, attribute only
*/
[bubb] {
  position: relative; }
  [bubb]:before, [bubb]:after {
    position: absolute;
    pointer-events: none;
    visibility: hidden;
    z-index: 1; }
  [bubb]:after {
    content: attr(bubb);
    transform: translate(-50%, 100%);
    left: 50%;
    bottom: calc( 0px - ( 0.65em + 0.15em ));
    padding: .75em 1em .85em;
    line-height: 1.1;
    font-size: 17px;
    text-align: center;
    border-radius: 4px;
    background-color: #444;
    border-bottom-color: #444;
    color: #fff;
    cursor: default;
    min-width: 150px;
    width: 100%;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-shadow: rgba(255, 170, 221, 0.35) 6px 7px 0 0; }
  [bubb]:before {
    content: '';
    transform: translate(-50%, 100%);
    left: 50%;
    bottom: -0.15em;
    width: 0;
    height: 0;
    border-bottom: 0.65em solid #444;
    border-right: 0.65em solid transparent;
    border-left: 0.65em solid transparent; }
  [bubb]:hover:before, [bubb]:hover:after {
    transition-delay: 0s;
    visibility: visible; }
  [bubb].bubb-delayed:hover:before, [bubb].bubb-delayed:hover:after {
    transition-delay: 0.5s; }
