$col: #444;
$col2: #fad;
$font-size: 1.5em;

@font-face {
  font-family: 'Walsheim Bold';
  src: url('./fonts/gt-walsheim-bold-web.ttf');
}
@font-face {
  font-family: 'Walsheim Light';
  src: url('./fonts/gt-walsheim-light-web.ttf');
}
* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0 0 2em;
  margin: 0;
  background: #fff;
  color: $col;
  font-family: 'Walsheim Light', sans-serif;
  font-size: $font-size;
  line-height: 1;
  letter-spacing: .025rem;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
}
header {
  font-size: 1em;
  padding: 2.5em 7.5%;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  display: block;
  background: $col;
  color: #fff;
  i {
    font-style: normal;
    font-size: 50%;
    opacity: .65;
    position: relative;

    &:first-of-type {
      top: -.85em;
    }
    &:last-of-type {
      left: -1.1em;
    }
    margin-right: -.75em;
  }
  b {
    font-family: 'Walsheim Bold', sans-serif;
    font-weight: 700;
  }
  span {
    position: absolute;
    right: 7.5%;
  }
  &:after {
    content:none;
    position:absolute;
    width:100vw;
    height:7.3em;
    display:block;
    background:rgba(0,0,0,.035);
    top:-3.25em;
    left:-7.5vw;
  }
}
code {
  font-size: 70%;
  padding: 2em;
  overflow-x: hidden!important;
}
pre {
  padding: 1em;
  border: 1px solid #f0f0f0;
  opacity: .35;
  transition: opacity .5s linear;
  position: relative;
  z-index: 0;
  filter: grayscale(100%);
  &:hover {
    opacity: 1;
    filter: grayscale(0%);
  }
}
section {
  position: relative;
  padding: 3em 7.5% 2em;
  box-sizing: border-box;
  display: block;
  width: 100%;
  &:before {
    font-family: 'Walsheim Bold';
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 3em;
    line-height: 3em;
    background: #fafafa;
    display: block;
    padding-left: 7.5%;
    box-sizing: border-box;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    color: #0AF;
    content: '↓ Requires bubb.min.css';
  }
  &:last-of-type:before {
    content: '↓ Requires bubb.min.css + bubb.min.js';
  }
  > div {
    display: inline-block;
    font-size: 95%;
    margin-top: 1em;
    padding-bottom: 2px;
    border-bottom: 2px solid $col2;
    cursor: help;
    position: relative;
    &:hover {
      transition: all .3s cubic-bezier(0,0,0,1);
      border-color: transparent;
    }
  }
  > i {
    &:after {
      content: '⟵  :hover';
      display: inline-block;
      white-space: nowrap;
      border-bottom: none;
      margin-left: 12px;
      font-size: 75%;
      opacity: .35;
    }
  }
}
body > span {
  background: $col;
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2em;
  line-height: 2em;
  a {
    position: absolute;
    top: 0;
    left: 7.5%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    color: #0AF;
    text-decoration: none;
    font-family: 'Walsheim Bold';
    &:before {
      display: inline-block;
      font-family: 'Walsheim Light';
      margin-right: 6px;
      color: $col2;
      content: 'Share Bubb on';
    }
    &:last-of-type {
      left: auto;
      right: 7.5%;
      &:before {
        content: 'Download Bubb on';
      }
    }
  }
}
#eventsDisplay {
  background: #0ff1ce;
  padding: 0 7.5vw;
  line-height: 100vh;
  height: 100vh;
  min-width: 30vw;
  font-size: 65%;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  &[switch="false"] {
    background: #fad;
  }
  &:empty {
    visibility: hidden;
  }
}
@media all and (max-width: 550px) {
  body {
    font-size: 5vw;
  }
}



/*
--- bubb modifier
*/
.bubb {
  p {
    padding: 0;
    margin: 0;
  }
  b {
    font-family: 'Walsheim Bold';
    letter-spacing: 1px;
    font-size: 85%;
  }
  &-menu {
    aside {
      padding: 0!important;
      div {
        padding: .75em 0;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 72.5%;
        border-bottom: 1px solid rgba(#0ff1ce, .25);
        transition: background .3s cubic-bezier(0,0,0,.75);
        &:first-child {
          padding-top: 1em;
        }
        &:hover {
          background: rgba(#0ff1ce, .5);
          border-color: transparent;
        }
      }
    }
  }
}

/*

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 41 21">
<polygon points="21,0 0,21 41,21 "/>
</svg>

https://codepen.io/yoksel/details/JDqvs

background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20viewBox%3D%220%200%2041%2021%22%3E%0A%3Cpolygon%20points%3D%2221%2C0%200%2C21%2041%2C21%20%22/%3E%0A%3C/svg%3E%0A);
background-repeat: no-repeat;
background-position: center 0;
background-size: 40px;

*/
