$col: #444;
$col2: #fad;
$font-size: 1.5em;
$max-width: 720px;

@font-face {
  font-family: 'Walsheim';
  font-weight: bold;
  font-style: bold;
  src: url('./fonts/gt-walsheim-bold-web.ttf');
}
@font-face {
  font-family: 'Walsheim';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/gt-walsheim-light-web.ttf');
}
* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0 0 2em;
  margin: 0;
  background: #fff;
  color: $col;
  font-family: 'Walsheim', arial, sans-serif;
  font-weight: normal;
  font-size: $font-size;
  line-height: 1;
  letter-spacing: .025rem;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
}
header {
  font-size: 1em;
  padding: 2.5em calc( (100vw - #{$max-width}) / 2 );
  box-sizing: border-box;
  width: 100%;
  position: relative;
  display: block;
  background: $col;
  color: #fff;
  aside {
    margin-top: .75em;
    a {
      color: #fff;
      text-decoration: none;
      font-size: 50%;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 1em .5em 0;
      &:hover {
        color: #0ff1ce;
      }
      &:before {
        content:'';
        max-height: 0;
        overflow: hidden;
        display: block;
      }
      &.inline:before {
        content: none;
      }
      &.first {
        display: block;
        padding-top: 1em;
      }
    }
  }
  i {
    font-style: normal;
    font-size: 50%;
    opacity: .65;
    position: relative;

    &:first-of-type {
      top: -.85em;
    }
    &:last-of-type {
      left: -1.1em;
    }
    margin-right: -.75em;
  }
  b {
    font-weight: bold;
  }
  span {
    float: right;
  }
  &:after {
    content:none;
    position:absolute;
    width:100vw;
    height:7.3em;
    display:block;
    background:rgba(0,0,0,.035);
    top:-3.25em;
    left:-7.5vw;
  }
}
code {
  font-size: 70%;
  padding: 2em;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}
pre {
  padding: 1em;
  border: 1px solid #f0f0f0;
  opacity: .35;
  transition: opacity .5s linear;
  position: relative;
  z-index: 0;
  filter: grayscale(100%);
  &:hover {
    opacity: 1;
    filter: grayscale(0%);
  }
}
section {
  position: relative;
  padding: 3em 0 4em;
  max-width: $max-width;
  margin: 0 auto;
  box-sizing: border-box;
  display: block;
  width: 100%;
  &:before {
    font-weight: bold;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 6em;
    line-height: 6em;
    background: #fad;
    display: block;
    padding-left: 7.5%;
    box-sizing: border-box;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    color: #444;
    content: 'JS version  ↓  Requires bubb.min.css + bubb.min.js';
  }
  &:last-of-type:before {
    background: #0ff1ce;
    content: 'CSS version  ↓  Requires bubb.min.css';
  }
  > p {
    font-size: 70%;
    line-height: 1.3;
    color: #888;
  }
  > div {
    display: inline-block;
    font-size: 95%;
    margin-top: 1em;
    padding-bottom: 2px;
    border-bottom: 2px dotted $col2;
    cursor: help;
    position: relative;
    &:hover {
      border-color: transparent;
    }
  }
  > i {
    &:after {
      content: '⟵  :hover';
      display: inline-block;
      white-space: nowrap;
      border-bottom: none;
      margin-left: 12px;
      font-size: 75%;
      opacity: .35;
    }
  }
}
body > span {
  background: $col;
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2em;
  line-height: 2em;
  a {
    position: absolute;
    top: 0;
    left: calc( (100vw - #{$max-width}) / 2 );
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    color: #0AF;
    text-decoration: none;
    font-weight: bold;
    &:before {
      display: inline-block;
      font-weight: normal;
      margin-right: 6px;
      color: #fff;
      content: 'Share Bubb on';
    }
    &:last-of-type {
      left: auto;
      right: calc( (100vw - #{$max-width}) / 2 );
      &:before {
        content: 'Download Bubb on';
      }
    }
  }
}
#eventsDisplay {
  background: rgba(#0ff1ce, .7);
  padding: 0 7.5vw;
  box-sizing: border-box;
  line-height: 100vh;
  height: 100vh;
  width: 100vw;
  font-size: 65%;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 0;
  &[switch="false"] {
    background: rgba(#fad, .7);
  }
  &:empty {
    visibility: hidden;
  }
}
@media all and (max-width: 550px) {
  body {
    font-size: 5vw;
  }
}



/*
--- bubb modifier
*/
.bubb {
  p {
    padding: 0;
    margin: 0;
  }
  b {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 90%;
  }
}

/*

svg tip

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 41 21">
<polygon points="21,0 0,21 41,21 "/>
</svg>

https://codepen.io/yoksel/details/JDqvs

background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20viewBox%3D%220%200%2041%2021%22%3E%0A%3Cpolygon%20points%3D%2221%2C0%200%2C21%2041%2C21%20%22/%3E%0A%3C/svg%3E%0A);
background-repeat: no-repeat;
background-position: center 0;
background-size: 40px;

*/
